<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<head>

<title>Add Customer</title>
<link rel="stylesheet" href="css/dashboard.css"
	th:href="@{/css/dashboard.css}"></link>
</head>

<body>

	<div layout:fragment="content">

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					<form class="form-horizontal" role="form" th:action="@{/saveCustomer}"
						method="post">
						<fieldset>

							<!-- Form Name -->
							<legend>Add Customer</legend>
							
							<input type="hidden" id="category" name="category" th:value="${category}"></input>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="name">Customer
									Name</label>
								<div class="col-md-5">
									<input id="name" name="name" type="text" placeholder=""
										class="form-control input-md" required="required"></input>

								</div>
							</div>
							
							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="codeNumber">Customer Code Number</label>
								<div class="col-md-5">
									<input id="codeNumber" name="codeNumber" type="text" placeholder=""
										class="form-control input-md" required="required"></input>

								</div>
							</div>
							

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="companyName">Company
									Name</label>
								<div class="col-md-5">
									<input id="companyName" name="companyName" type="text"
										placeholder="" class="form-control input-md" required="required"></input>

								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="address">Address</label>
								<div class="col-md-5">
									<input id="address" name="address" type="text" placeholder=""
										class="form-control input-md" required="required"></input>

								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="mobile">Mobile
									Number</label>
								<div class="col-md-5">
									<input id="mobile" name="mobile" type="text" placeholder=""
										class="form-control input-md" required="required"></input>

								</div>
							</div>

							<!-- Button -->
							<div class="form-group">
								<label class="col-md-4 control-label" for="submit"></label>
								<div class="col-md-4">
									<button id="submit" name="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>

						</fieldset>
					</form>
					
					<div>
					<a th:href="@{/}">Home</a>
					</div>

				</div>
			</div>
		</div>

	</div>

</body>

</html>