<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<head>

<title>New Due Payment</title>
<link rel="stylesheet" href="css/dashboard.css"
	th:href="@{/css/dashboard.css}"></link>
</head>

<body>

	<div layout:fragment="content">

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					<form class="form-horizontal">
						<fieldset>

							<!-- Form Name -->
							<legend>New Due Payment</legend>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="serialNo">Serial
									No.</label>
								<div class="col-md-4">
									<input id="serialNo" name="serialNo" type="text" placeholder=""
										class="form-control input-md" required="required"></input>

								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label" for="purchaseSerialNo">Sales Serial
									No.</label>
								<div class="col-md-4">
									<input id="salesSerialNo" name="purchaseSerialNo" type="text" placeholder=""
										class="form-control input-md" required="required"></input>

								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="amount">Amount</label>
								<div class="col-md-4">
									<input id="amount" name="amount" type="text"
										placeholder="0" class="form-control input-md"></input>

								</div>
							</div>

							<!-- Button -->
							<div class="form-group">
								<label class="col-md-4 control-label" for="submit"></label>
								<div class="col-md-4">
									<button id="submit" name="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>

						</fieldset>
					</form>
					
					<div>
					<a th:href="@{/}">Home</a>
					</div>

				</div>
			</div>
		</div>

	</div>

</body>

</html>