<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<head>

<title>Add Purchase</title>
<link rel="stylesheet" href="css/dashboard.css"
	th:href="@{/css/dashboard.css}"></link>
<link rel="stylesheet" href="css/vue-datepicker-local.css"
	th:href="@{/css/vue-datepicker-local.css}"></link>
<link rel="stylesheet"
	href="webjars/font-awesome/4.7.0/css/font-awesome.css"
	th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}"></link>
<!--  <link rel="stylesheet"
	href="webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css"
	th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css}"></link>-->

</head>

<body>

	<div layout:fragment="content">

		<div class="container-fluid" id="app">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					<!--  <pre>{{ $data }}</pre>-->

					<form class="form-horizontal" action="javascript:void(0)">
						<div v-for="(item, itemIndex) in items"
							style="margin-bottom: 2em;">
							<fieldset>

								<!-- Form Name -->
								<legend>Add Rice Sales</legend>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-2 control-label" for="memoNo">Memo
										No.</label>
									<div class="col-md-2">
										<input id="memoNo" name="memoNo" type="text" placeholder=""
											v-model="item.memoNo" class="form-control input-md"
											required="required"></input>
									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-2 control-label" for="companyCode">Customer/Company
										Code</label>
									<div class="col-md-2">
										<select name="companyCode" id="companyCode"
											v-model="item.companyCode" class="form-control">
											<option value="">Select Customer/Company Code</option>
											<option th:each="code : ${companyList}" th:value="${code}"
												th:text="${code}"></option>
										</select>
									</div>
									<div>
										Do you want to <a th:href="@{/addCompany/riceSales}">Add
											Company</a>
									</div>
								</div>
								<!-- 
								<div class="form-group">
									Date input 
									<label class="col-md-2 control-label" for="date">Date</label>
									<div class="col-md-2">
										<input class="form-control input-md" id="date" name="date"
											placeholder="DD/MM/YYYY" type="text" />
									</div>
								</div>
-->
								<div>

									<label class="col-md-2 control-label" for="date">Date</label>
									<vue-datepicker-local v-model="item.date" format="DD-MM-YYYY" :local="local"></vue-datepicker-local>
								</div>

								<div class="row" v-for="(record, index) in item.records">

									<!-- Text input-->
									<div class="form-group">
										<label class="col-md-2 control-label" for="itemName">Item
											Name</label>
										<div class="col-md-2">
											<select name="itemName" id="itemName"
												v-model="record.itemName" class="form-control">
												<option value="">Select Name</option>
												<option th:each="name : ${itemNameList}" th:value="${name}"
													th:text="${name}"></option>
											</select>
										</div>
										<div>
											Do you want to <a th:href="@{/addItem/rice}">Add Item</a>
										</div>
									</div>
									<div class="form-group">
										<!-- Text input-->

										<label class="col-md-2 control-label" for="quantity">Quantity(Bag)</label>
										<div class="col-md-2">
											<input name="quantity" id="quantity"
												v-model="record.quantity" type="number" placeholder="0"
												class="form-control input-md"></input>
										</div>

										<!-- Text input-->
										<label class="col-md-2 control-label" for="unitPrice">Unit
											Price</label>
										<div class="col-md-2">
											<input name="unitPrice" id="unitPrice"
												v-model="record.unitPrice" type="number" placeholder="0"
												class="form-control input-md"></input>
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-1" v-if="showAddRecordBtn(item, index)">
											<label></label>
											<button class="btn btn-info form-control"
												v-on:click.prevent="addNewRecord(item)">
												<i class="fa fa-plus-circle" aria-hidden="true"></i>
											</button>
										</div>
										<div class="col-md-1" v-if="!showAddRecordBtn(item, index)">
											<label></label>
											<button class="btn btn-danger form-control"
												v-on:click.prevent="removeRecord(item, index)">
												<i class="fa fa-minus-circle" aria-hidden="true"></i>
											</button>
										</div>
									</div>

								</div>

								<!-- Button -->
								<div class="form-group">
									<label class="col-md-4 control-label" for="submit"></label>
									<div class="col-md-4">
										<button id="submit" name="submit" class="btn btn-primary"
											v-on:click.prevent="submit()">Submit</button>
									</div>
								</div>

							</fieldset>
						</div>
					</form>

					<div>
						<a th:href="@{/}">Home</a>
					</div>

				</div>
			</div>
		</div>

	</div>

	<div layout:fragment="custom-scripts">
		<!-- Page specific script goes here -->
		<script src="webjars/vue/2.5.13/vue.js"
			th:src="@{/webjars/vue/2.5.13/vue.js}"></script>
		<script src="webjars/axios/0.17.1/dist/axios.js"
			th:src="@{/webjars/axios/0.17.1/dist/axios.js}"></script>
		<script src="js/vue-datepicker-local.js"
			th:src="@{/js/vue-datepicker-local.js}"></script>
			<!-- <script src="https://cdn.jsdelivr.net/npm/vue-datepicker-local@1.0.14/dist/vue-datepicker-local.js"></script>
		<script
			src="webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"
			th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>-->

		<script>
		new Vue({
            el : '#app',
            data : {
                local: {
                    dow: 0, // Sunday is the first day of the week
                    monthsHead: 'January_February_March_April_May_June_July_August_September_October_November_December'.split('_'),
                    months: 'Jan_Feb_Mar_Apr_May_Jun_Jul_Aug_Sep_Oct_Nov_Dec'.split('_'),
                    weeks: 'Su_Mo_Tu_We_Th_Fr_Sa'.split('_')
                },
                items : [ {
                    memoNo : '',
                    companyCode : '',
                    date : new Date(),
                    records : [ {
                        itemName : 0,
                        quantity : 0,
                        unitPrice : 0
                    } ]
                } ]
            },
            methods : {
                addNewRecord : function(item) {
                    var record = {
                        itemName : 0,
                        quantity : 0,
                        unitPrice : 0
                    }
                    item.records.push(record);
                },
                removeRecord : function(item, recordIndex) {
                    return item.records.splice(recordIndex, 1);
                },
                showAddRecordBtn : function(item, recordIndex) {
                    return recordIndex === this.items[this.items
                            .indexOf(item)].records.length - 1;
                },

                submit : function() {
                    var self = this;

                    axios.post('/saveRiceSales', self.items)
                    .then(function (response) {                        
                        console.log(response);
                        window.location.replace('/');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            }
        })
		</script>

	</div>


</body>

</html>