<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" href="css/dashboard.css"
	th:href="@{/css/dashboard.css}"></link>
<title>List of Paddy Purchase</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid" id="app">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					<table class="table">

						<thead>
							<tr>
								<th scope="col">Memo No</th>
								<th scope="col">Company Code</th>
								<th scope="col">Quantity(Sack)</th>
								<th scope="col">Quantity(KG)</th>
								<th scope="col">Unit Price(Mon)</th>
								<th scope="col">Price(Sack)</th>
								<th scope="col">Total Price(Taka)</th>
								<th scope="col">Date</th>
								<th scope="col">Insert Date</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="pp : ${paddyPurchase}">
								<td th:text="${pp.memoNo}"></td>
								<td th:text="${pp.companyCode}"></td>
								<td th:text="${pp.quantitySack}"></td>
								<td th:text="${pp.quantityKG}"></td>
								<td th:text="${pp.unitPricePerMon}"></td>
								<td th:text="${pp.totalSackPrice}"></td>
								<td th:text="${pp.quantityKG*pp.unitPricePerMon+pp.totalSackPrice}"></td>
								<td th:text="${#dates.format(pp.date, 'dd-MMM-yyyy')}"></td>
								<td th:text="${#dates.format(pp.createdDate, 'dd-MMM-yyyy')}"></td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>