<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" href="css/dashboard.css"
	th:href="@{/css/dashboard.css}"></link>
<title>List of Sales</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid" id="ars">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					<table class="table">

						<thead>
							<tr>
								<th scope="col">Company/Customer name</th>	
								<th scope="col">Company/Customer code</th>
								<th scope="col">Address</th>
								<th scope="col">Mobile</th>
								<th scope="col">Category</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c:${companies}">
								<td th:text="${c.name}"></td>
								<td th:text="${c.codeNumber}"></td>
								<td th:text="${c.address}"></td>
								<td th:text="${c.mobile}"></td>
								<td th:text="${c.category}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>