<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" href="css/dashboard.css"
	th:href="@{/css/dashboard.css}"></link>
<title>List of Usage</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid" id="ars">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					<table class="table">

						<thead>
							<tr>
								<th scope="col">Item</th>
								<th scope="col">Quantity(Unit)</th>
								<th scope="col">Date</th>
								<th scope="col">Insert Date</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="u : ${usage}">
								<td th:text="${u.itemName}"></td>
								<td th:text="${u.quantity}"></td>
								<td th:text="${#dates.format(u.date, 'dd-MMM-yyyy')}"></td>
								<td th:text="${#dates.format(u.createdDate, 'dd-MMM-yyyy')}"></td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>