<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<head>

<title>Paddy Purchase</title>
<link rel="stylesheet" href="css/dashboard.css"
	th:href="@{/css/dashboard.css}"></link>
<link rel="stylesheet"
	href="webjars/font-awesome/4.7.0/css/font-awesome.css"
	th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}"></link>
<link rel="stylesheet"
	href="webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css"
	th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css}"></link>
</head>

<body>

	<div layout:fragment="content">

		<div class="container-fluid" id="app">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					<form class="form-horizontal" role="form"
						th:action="@{/savePaddyPurchase}" method="post">
						<fieldset>

							<!-- Form Name -->
							<legend>Add Paddy Purchase</legend>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-2 control-label" for="memoNo">Memo
									No.</label>
								<div class="col-md-2">
									<input id="memoNo" name="memoNo" type="text" placeholder=""
										class="form-control input-md" required="required"></input>

								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-2 control-label" for="companyCode">Customer
									Code</label>
								<div class="col-md-2">
									<select name="companyCode" id="companyCode"
										class="form-control">
										<option value="">Select Company Code</option>
										<option th:each="code : ${companyList}" th:value="${code}"
											th:text="${code}"></option>
									</select>

								</div>

								<div>
									Do you want to <a th:href="@{/addCompany/paddyPurchase}">Add
										Company</a>
								</div>
							</div>

							<div class="form-group">
								<!-- Date input -->
								<label class="col-md-2 control-label" for="date">Date</label>
								<div class="col-md-2">
									<input class="form-control input-md" id="date" name="date"
										placeholder="DD/MM/YYYY" type="text" />
								</div>
							</div>

							<div class="form-group">
								<!-- Text input-->
								<label class="col-md-2 control-label" for="quantitySack">Quantity(Sack)</label>
								<div class="col-md-2">
									<input name="quantitySack" id="quantitySack" type="number"
										placeholder="0" class="form-control input-md"></input>
								</div>

								<!-- Text input-->
								<label class="col-md-2 control-label" for="quantityKG">Quantity(KG)</label>
								<div class="col-md-2">
									<input name="quantityKG" id="quantityKG" type="number"
										placeholder="0" class="form-control input-md"></input>
								</div>
							</div>

							<div class="form-group">
								<!-- Text input-->
								<label class="col-md-2 control-label" for="unitPricePerMon">Unit
									Price(Per Mon)</label>
								<div class="col-md-2">
									<input name="unitPricePerMon" id="unitPricePerMon" type="number"
										placeholder="0" class="form-control input-md"></input>
								</div>

								<!-- Text input-->
								<label class="col-md-2 control-label" for="totalSackPrice">Total
									Price(Sack)</label>
								<div class="col-md-2">
									<input name="totalSackPrice" id="totalSackPrice" type="number"
										placeholder="0" class="form-control input-md"></input>
								</div>
							</div>

							<!-- Button -->
							<div class="form-group">
								<label class="col-md-4 control-label" for="submit"></label>
								<div class="col-md-4">
									<button id="submit" name="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>

						</fieldset>
					</form>

					<div>
						<a th:href="@{/}">Home</a>
					</div>

				</div>
			</div>
		</div>

	</div>

	<div layout:fragment="custom-scripts">
		<!-- Page specific script goes here -->
		<script src="webjars/vue/2.5.13/vue.js"
			th:src="@{/webjars/vue/2.5.13/vue.js}"></script>
		<script src="webjars/axios/0.17.1/dist/axios.js"
			th:src="@{/webjars/axios/0.17.1/dist/axios.js}"></script>
		<script
			src="webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"
			th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>
		<script>
			$(document)
					.ready(
							function() {
								var date_input = $('input[name="date"]'); //our date input has the name "date"
								var container = $('.bootstrap-iso form').length > 0 ? $(
										'.bootstrap-iso form').parent()
										: "body";
								date_input.datepicker({
									format : 'dd/mm/yyyy',
									container : container,
									todayHighlight : true,
									autoclose : true,
								})
							})
		</script>
	</div>



</body>

</html>