<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">
<head>

<title>Home</title>
<link rel="stylesheet" href="css/dashboard.css"
	th:href="@{/css/dashboard.css}" ></link>
</head>

<body>

	<div layout:fragment="content">

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					
					<div>
					<a th:href="@{/addCustomer}">Add New Customer</a>
					</div>
					<div>
					<a th:href="@{/addExpense}">Add Expense</a>
					</div>
					<div>
					<a th:href="@{/addSector}">Add New Sector</a>
					</div>
					<div>
					<a th:href="@{/addBankAccount}">Add New Bank Account</a>
					</div>
					<div>
					<a th:href="@{/addSales}">Add New Sales</a>
					</div>
					<div>
					<a th:href="@{/addDueCollection}">Add New Due Collection</a>
					</div>
					<div>
					<a th:href="@{/addPurchase}">Add New Purchase</a>
					</div>
					<div>
					<a th:href="@{/addDuePayment}">Add New Due Payment</a>
					</div>
					<div>
					<a th:href="@{/addBankDeposit}">Add New Bank Deposit</a>
					</div>
					<div>
					<a th:href="@{addBankWithdrawal}">Add New Bank Withdrawal</a>
					</div>
					
				</div>
			</div>
		</div>

	</div>

</body>

</html>